.projects {
    background-color: var(--bg-color-1);
    height: auto;
    padding: 1rem;
    margin: 1rem 2rem 2rem;
}

.section__title {
    color: var(--font-color-title);
}

.section__subtitle {
    color: var(--font-color-subtitle);
}

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.work__item {
    cursor: pointer;
    color: var(--font-color-1);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.work__item:hover {
    background-color: var(--accent-primary);
    color: var(--bg-color-1);
    transition: var(--animate);
}

.work__container {
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
    justify-content: center;
}

.work__card {
    background-color: var(--bg-color-1);
    border: var(--project-border);
    padding: 1.25rem;
}

.work__img {
    width: 259px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.4));
}

.work__title {
    color: var(--font-color-1);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
    letter-spacing: 2px;
}

.work__button {
    color: var(--accent-primary);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work__button-icon {
    font-size: 1rem;
    transition: var(--animate);
}

.work__button:hover .work__button-icon {
    transform: translateX(0.25rem);
    color: var(--accent-tertiary);
}

/* active work */

.active-work {
    background-color: var(--accent-primary);
    color: var(--bg-color-1);
}


.show__button {
    margin-top: 1rem;
    font-size: var(--smaller-font-size);
}

.show__button:before {
    background: var(--accent-primary);
    top: 5px;
    left: 0px;
    width: 35px;
    height: 35px;
}

.show__button span {
    color: var(--font-color-1);
}

.show__button:hover span {
    transition: var(--animate);
    color: var(--bg-color-1);
}

.show__button:hover:before {
    width: 100%;
    background: var(--accent-primary);
    color: var(--bg-color-1);
}

/* ------------------------------- BREAKPOINTS ------------------------------ */

/* For large device */
@media screen and (max-width:992px) {
    .work__container {
        gap: 1.25rem;
        grid-template-columns: repeat(2, max-content);
    }

    .work__card {
        padding: 1rem;
    }

    .work__img {
        margin-bottom: 0.75rem;
    }

    .work__title {
        margin-bottom: 0.25rem;
    }

}

@media screen and (max-width:768px) {
    .work__container {
        grid-template-columns: max-content;
    }

}

@media screen and (max-width:576px) {
    .work__container {
        grid-template-columns: 1fr;
    }

    .work__img {
        width: 100%;
    }

    .show__button {
        left: 35%;
    }
}

@media screen and (max-width:350px) {
    .work__item {
        font-size: var(--small-font-size);
    }

    .work__filters {
        column-gap: 0.25rem;
    }

}