/* --------------------------- About Introduction --------------------------- */
.about {
    padding: 1rem 0 2rem;
    background-color: var(--accent-quaternary);
}

.about__section {
    margin: 4rem 16rem 1rem;
    height: max-content;
    padding: 2rem 2rem 0rem;
}

.about__content {
    height: 30vh;
    margin-bottom: 4rem;
    /* display: inline; */

}

.about__greet {
    display: inline-block;
}

.about__greeting {
    color: var(--font-color-2);
}

.about__name {
    color: var(--accent-secondary);
    letter-spacing: 2px;
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
    filter: drop-shadow(4px 4px 2px rgba(2, 66, 140, 0.4));

}

.second__button {
    background-color: var(--bg-color-2);
    color: var(--font-color-2);
}

.about__intro {
    width: 75%;
    color: var(--pure-white);
    float: right;
    padding: 1rem;
    text-align: justify;
    margin-bottom: 4rem;

}


/* ----------------------------- skills section ----------------------------- */

.skills__heading {
    color: var(--pure-white);
    margin-bottom: 1rem;
    text-align: center;

}

.skills__heading h3::before,
.skills__heading h3::after {
    background-color: var(--pure-white);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: calc(40% - 0.5rem);
}

.skills__heading h3::before {
    right: 0.5rem;
    margin-left: calc(-50% - 0.25rem);
}

.skills__heading h3::after {
    left: 0.5rem;
    margin-right: calc(-50% - 0.25rem);
}

/* ------------------------------- Grid Skills ------------------------------ */

/* .skill__group {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill__box {
    color: var(--pure-white);
    padding: .5rem;
    margin: 1rem;

}

.skill__box box-icon {
    width: 100%;
    color: var(--pure-white);
    filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.4));

}

.skill__box box-icon:hover {
    cursor: pointer;
    scale: 1.2;
    transition: var(--animate);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
} */

/* ------------------------------ Marque Skill ------------------------------ */
.skill__marquee__section {
    margin-top: 3rem;
}

.skill__marque {
    padding: 1rem;
    display: flex;
}

.skill__marquee_box {
    width: 100%;
    padding: .8rem;
    filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.4));
    border: 1px solid white;
    margin: 1rem 2rem;
    border-radius: .4rem;
    text-align: center;
}

.skill__marquee_box:hover {
    cursor: pointer;
    scale: 1.1;
    transition: var(--animate);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.4));
}


.skill__marquee_box box-icon {
    height: 8vh;
    width: 100%;
    color: var(--pure-white);
    filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.4));

}

.skill__marquee_box span {
    color: var(--pure-white);

}


/* --------------------------- Responsive Section --------------------------- */

/* ------------------------------- BREAKPOINTS ------------------------------ */
@media screen and (max-width:1336px) {
    .about__section {
        margin: 2rem 8rem 2rem;
    }

    .about__intro {
        width: 65%;
        padding: 0;
    }
}

/* For large device */
@media screen and (max-width:992px) {
    .about__section {
        margin: 2rem 1rem 2rem;
    }

    .about__content {
        font-size: var(--small-font-size);
    }
}

@media screen and (max-width:768px) {

    .about__intro__group {
        margin-right: 3rem;
        float: inline-start;
    }

    .about__intro {
        width: auto;
    }

    .skill__group {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media screen and (max-width:576px) {
    .about__content {
        font-size: var(--smaller-font-size);
    }

    .about__intro__group {
        margin-right: .5rem;
    }

    .about__section {
        padding: 1rem;
    }

    .second__button {
        font-size: var(--tiny-font-size);
        display: inline-block;
        margin-left: .4rem;
    }

    .skills__heading {
        font-size: var(--small-font-size);
    }

    .skills__heading h3::before,
    .skills__heading h3::after {
        width: 27%;
    }

    .skills__heading h3::before {
        right: .1rem;
        margin-left: -1%;
    }

    .skills__heading h3::after {
        left: .1rem;
        margin-right: -1%;
    }

    .skill__group {
        grid-template-columns: repeat(3, 1fr);
    }

    .skill__marquee__section {
        margin-top: 2rem;
    }

    .skill__marquee_box {
        margin: 1rem 1.5rem;
    }

    .skill__marquee_box box-icon {
        height: 4vh;
    }

    .skill__marquee_box span {
        font-size: var(--small-font-size);
    }

}



@media screen and (max-width:350px) {
    .second__button {
        margin-left: .1rem;
    }

}