.career {
    height: auto;
}

.section__title {
    padding-top: 1rem;
}

.section__subtitle {
    margin-bottom: 4rem;
}

.career__container {
    max-width: 768px;
}

.tabs__container {
    text-align: center;
    margin-bottom: 6rem;
}

.tab__button {
    background: none;
    cursor: pointer;
    color: var(--font-color-1);
    padding: 0.45rem 0.95rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.tab__button.active {
    background-color: var(--accent-primary);
    color: var(--bg-color-1);
}

.tab__content {
    margin: 1rem;
    padding: 1rem;
}

/* ---------------------------------- work ---------------------------------- */

.workData__accordion {
    margin-top: 2rem;
    width: 100%;
}

.accordion__item {
    border: .5px solid var(--accent-primary);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.accordion__header {
    text-transform: uppercase;
    display: flex;
    letter-spacing: 1px;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 550;
    color: var(--font-color-1);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.accordion__header:hover {
    color: var(--bg-color-1);
    background-color: var(--accent-primary);
    transition: var(--animate);
}

.accordion__header::before {
    content: "";
    position: absolute;
    left: 0.8rem;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-primary);
    transform: translateX(-100%);
    transition: var(--animate);
    z-index: -1;
}

.accordion__header:hover::before {
    transform: translateX(0);
    left: -0.8rem;
}

.accordion__content {
    padding: 1rem;
    text-align: justify;
    color: var(--font-color-1);
    font-size: var(--medium-font-size);
}

.accordion__year {
    font-weight: 200;
    font-size: var(--small-font-size);
}

.accordion__postion {
    font-weight: 550;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: .2rem;
}

.accordion__content ul {
    color: var(--accordion-content);
    margin-top: .5rem;
    list-style-type: circle;
    list-style-position: outside;
}

.accordion__content li {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.accordion__company::before {
    content: "\25B6";
    font-size: var(--smaller-font-size);
    display: inline-block;
    margin-right: .5rem;
    transition: transform 0.3s ease;
}

.expanded .accordion__company::before {
    transform: rotate(90deg);
}

.accordion__item.expanded .accordion__header {
    border: 1px solid var(--accent-primary);
    background-color: var(--accent-primary);
    color: var(--bg-color-1);
}

.accordion__item.expanded .accordion__content {
    display: block;
}

/* -------------------------------- education ------------------------------- */

.timeline-container {
    margin: 0 auto;
    max-width: 786px;
}

.vertical-timeline-element-title {
    letter-spacing: 1px;
    font-size: var(--h3-font-size);
    padding-bottom: .7rem;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: .3rem;
    text-transform: uppercase;
}

.vertical-timeline-element-subtitle {
    font-size: var(--small-font-size);
    color: var(--font-color-1);
    font-weight: 500;
}

.vertical-timeline-element-year {
    color: var(--font-color-title);
    font-weight: 200;
    font-size: var(--smaller-font-size);
}

.vertical-timeline.vertical-timeline-custom-line::before {
    background: var(--accent-primary);
    width: .1rem;
}


/* ------------------------------- BREAKPOINTS ------------------------------ */

/* For large device */
@media screen and (max-width:992px) {
    .career__container {
        max-width: auto;
        align-content: center;
    }

}

@media screen and (max-width:768px) {
    .accordion__header {
        font-size: var(--small-font-size);
    }

    .accordion__year {
        font-size: var(--small-font-size);
    }

    .accordion__content {
        font-size: var(--smaller-font-size);
    }
}

@media screen and (max-width:576px) {
    .accordion__header {
        font-size: var(--small-font-size);
        letter-spacing: .2px;
    }

    .accordion__company::before {
        margin-right: .4rem;
    }

    .accordion__year {
        font-size: var(--tiny-font-size);
    }

    .accordion__content {
        font-size: var(--smaller-font-size);
    }
}

@media screen and (max-width:350px) {
    .accordion__header {
        text-transform: none;
        font-size: var(--tiny-font-size);
        letter-spacing: 0px;
    }

    .accordion__company::before {
        font-size: var(--tiny-font-size);
        margin-right: 0rem;
    }

}