.footer {
    color: var(--font-color-subtitle);
    text-align: center;
    padding: 1rem;
    font-size: var(--smaller-font-size);
}

@media screen and (max-width:380px) {
    .footer {
        font-size: var(--tiny-font-size);
    }
}